doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.4/css/all.css", integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm", crossorigin="anonymous")
        link(rel="stylesheet", href="./public/css/style.css")
        title Comma
    body 
        header
            h1 COM'MA
        main
            div#welcome 
                form
                    input#roomName(type="text", required, placeholder="Room Name")
                    input#nickname(type="text", required, placeholder="Your Nickname")
                    button#enterbtn Enter Room
                    a#loginbtn(href='/auth/google') login
                    a#logoutbtn(href='/auth/logout') logout
                    h1#invtxt 회의에 입장하려면 로그인이 필요합니다.
                button#enterdirect Enter Reserved Room
                    
            div#call(class="call")
                div=roomName
                div#streamBox
                    div#streams
                        div#myStream(class="people1")
                            video#myFace(autoplay, playsinline, width="500", height="400")
                            h3#userNickname
                    div#chatRoom
                        ul#chatBox
                        form#chatForm
                            input(required, type="text", placeholder="Write your chat")
                            button Send
                    div#controlers2
                        div#controlers2__column
                            select#languages
                                option(value = "1", selected) KOR to ENG
                                option(value = "2") KOR to KOR
                                option(value = "3") ENG to KOR
                                option(value = "4") ENG to ENR
                        div#controlers2__column
                            div#buttons
                            div#buttons    
                            div#buttons
                            button#startSpeech Speech
                    div#controlers
                        div#controlers__column
                            select#cameras
                        div#controlers__column
                            div#buttons
                                button#mute
                                    i(class="fas fa-microphone fa-2x unMuteIcon")
                                    i(class="fas fa-microphone-slash fa-2x muteIcon")
                            div#buttons    
                                button#camera 
                                    i(class="fas fa-video fa-2x cameraIcon")
                                    i(class="fas fa-video-slash fa-2x unCameraIcon")
                            div#buttons
                                button(value="Reservation", onclick='window.open("/reservation", "reservation", "width=500, height=400, left=-600, top=300");')#reservation Reservation
                            button#leave Leave
                    
        aside.modal.hidden
            div.modal__box
                h2.modal__text
                button.modal__btn OK

        script(type='text/javascript').
            invite = "#{invite}";
            iroomName = "#{iroomName}";
            inickName = "#{inickName}";
            islogin = "#{islogin}";
            email = "#{email}";
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/bundle.js")